# dependencies
/node_modules

# next.js
/.next/
/out/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# env
.env*
.env

# debug
npm-debug.log*
.pnpm-debug.log*

# firebase
firebase-debug.log
firestore-debug.log
firebase.json
firestore.rules
firebase-hosting.json
PERFORMANCE_OPTIMIZATION_REPORT.md

# vercel
.vercel

# cloudflare
.wrangler
.dev.vars


